@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900&family=Rubik:wght@300;400;500;700;900&display=swap');


* {
    color: #E4E4E4;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body {
    background-color: #18181B;
}

body::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
}
  
body::-webkit-scrollbar-track {
    background: #18181B; /* Цвет дорожки */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #212124; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #333338; /* Оформление границ бегунка */
}

.header {
    position: sticky;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(24, 24, 27, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    font-weight: 700;

    border-bottom: 1px solid rgba(38, 38, 38, 0.4);
    font-family: 'Rubik', sans-serif;
}

.logo {
    height: 100%;
    width: 150px;
    margin-left: 50px;
    align-items: center;
    display: flex;
}

.logo a{
    margin: auto 0;
    display: flex;
}

a img {
    margin: auto;
}

.logo img {
    height: 30px;
    width: auto;
}

.navbar a {
    position: relative;
    font-size: 24px;
    color: #E4E4E4;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 10px;
    transition: .5s;
}

.navbar a:hover{
    background: #36363a;
    width: 15%;
    transition: .5s;
}

.navbar a.active {
    color: #73C398;
    text-shadow: 0px 0px 2px #73C398;
}

.login{
    display: flex;
    height: 100%;
    margin-right: 50px;
    align-items: center;
    text-decoration: none;
    color: #73C398;
    transition: .5s;
    border-radius: 10px;
}

.login:hover{
    background: #36363a;
    transition: .5s;
}

.login1{
    color: #E4E4E4;
    text-decoration: none;
    display: flex;
}

.login a{
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}




















/* main */


/* head */
.wrapper {
   max-width: 1825px;
   margin: 0px auto;
}

.img {
    width: 100%;
    max-height: 416px;
}

.img img{
    width: 100%;
}

.instructors-box {
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

.img-instructor {
    max-height: 90px;
    max-width: 90px;
}

.img-instructor img {
    width: 100%;
}

.instructors-box span{
    text-align: center;
}

.instructors {
    max-height: 90px;
    margin-top: -102px;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.instructors :not(:last-child) {
    margin-right: -25px;
}



/* article */

article {
    max-width: 1138px;
    margin: 0 auto;
}

h1 {
    color: #73C398;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 7px;
    margin-left: 25px;
}

h2 {
    color: #73C398;
}

h2, h3 {
    margin-bottom: 7px;
    font-size: 16px;
    margin-top: 0;
}

.category-text {
    display: flex;
}

.category-text :not(:last-child) {
    margin-bottom: 7px;
}

.img-box {
    background-color: #212124;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    margin-right: 5px;
}

.img-box img {
    width: 15px;
    height: 15px;
    margin: auto;
}

.need-give {
    display: flex;
    margin-bottom: 95px;
}

.need {
    margin-right: 98px;
}

.ooc-ic {
    display: flex;
    margin-bottom: 50px;
}

.ooc {
    margin-right: 180px;
    display: flex;
    flex-direction: column;
}

.question {
    max-width: 479px;
}

input, textarea {
    background-color: #212124;
    border: none;
    border-radius: 5px;
    resize: vertical;
    min-height: 25px;
    min-width: 472px;
    padding-left: 5px;
    margin-bottom: 7px;
}

input, textarea ::placeholder {
    color: #8D8D8D;
    font-size: 14px;
}



input, textarea:hover {
    caret-color: #333338;
}


.anketa a {
    background-color: #73C398;
    padding: 4px 11px;
    border-radius: 6px;
    font-size: 12px;
    color: #18181B;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-left: auto;
    margin-top: 14px;
    transition: .5s;
}

.anketa a:hover {
    background-color: #94F5C1;
    padding: 6px 13px;
    transition: .5s;
}





































/* footer */

footer {
    background-color: #212124;
    border-top: 1px solid #262626;
    display: flex;
    flex-direction: column;
    padding: 42px 94px;
    font-family: 'Nunito', sans-serif;

}

.links {
    display: flex;
    margin-bottom: 5px;
}

.eagle {
    display: flex;
    height: 30px;
}

.img-logo {
    margin-right: 8px;
}

.img-logo img{
    height: 30px;
}

.name {
    height: 30px;
}

.name p{
    font-size: 16px;
    margin: 0;
    height: 15px;
}

.name p:not(:last-child) {
    margin-bottom: 2px;
}

.media {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    height: 30px;
}

.o {
    height: 43px;
}

.f {
    width: 36px;
}

.media a:not(:first-child) {
    margin-left: 28px;
}

.contacts-media {
    margin-bottom: 17px;
}

.contacts-media a{
    color: #E4E4E4;
    text-decoration: none;
    font-size: 16px;
}

.contacts-media a:not(:last-child){
    margin-right: 12px;
}

.spoiler p{
    color: #ABABAE;
    font-size: 16px;
    line-height: 0px;
    height: 16px;
}


@media (max-width: 950px) {
    footer {
        display: none;
    }
}