@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;900&family=Rubik:wght@300;400;500;700;900&display=swap');


* {
    color: #E4E4E4;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body {
    background-color: #18181B;
}

body::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
}
  
body::-webkit-scrollbar-track {
    background: #18181B; /* Цвет дорожки */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #212124; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #333338; /* Оформление границ бегунка */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 45px;
}



/* --------------------- Body --------------------- */


/* ---------------- page-closed ---------------- */

/* .page-closed {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100%;
    opacity: 100%;
    backdrop-filter: blur(25px);
    overflow: hidden;
}

.warn-box {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100vh;
    margin-top: -100vh;
    display: flex;
}

.warn {
    z-index: 4;
    background-color: #212124;
    margin: auto;
    padding: 50px 50px;
    border-radius: 10px;
    border: solid 1px #333338;
}

.warn span {
    font-size: 36px;
    color: #82dbac;
}

body {
    overflow: hidden;
}

.wrapper {
    margin-top: -100vh;
} */

/* --------------------------------------------- */





/* Aside */

.wrapper {
    display: flex;
}

.wrapper-1 {
    display: flex;
    margin: 0 auto;
}

@media (max-width:1600px) {
   .wrapper-1 {
    margin: 0px 50px;
   }
}

@media (max-width:450px) {
    .wrapper-1 {
     margin: 0px;
    }
}

aside {
    max-width: 206px;
    margin-top: 100px;
}

.void-3 {
    width: 200px;
    margin-top: 100px;
    display: flex;
}

.cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: sticky;
    top: 10%;
    height: 60px;
}

.cart-img, .cart-goods {
    margin: 0 auto;
}

.cart-img:hover + .cart-goods{
    display: block;
}

/* .cart-goods {
    display: none;
} */

.cart-img img {
    height: 60px;
}

.cart-img {
    display: flex;
}

.cart-img p {
    margin-left: -20px;
    padding: 10px;
    max-height: 10px;
    border-radius: 500px;
}



.cart-goods {
    margin-top: 10px;
}

.cart li {
    list-style-type: none;
}

.goods-card {
    width: 320px;
    height: 120px;
    background-color: #212124;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

.goods-img {
    margin: auto 0;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
}

.goods-img img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 5px;
}

.goods-text {
    margin: auto 5px;
    display: flex;
    flex-direction: column;
}

.goods-card h2 {
    font-size: 16px;
}

.goods-card h3 {
    font-size: 14px;
}

.amount {
    margin: auto 0 0 auto;
    display: flex;
    flex-direction: column;
}

.amount span {
    margin: auto;
}

.amount button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: black;
}


.move-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    max-width: 206px;
    margin-top: 100px;
    top: 10%;
}

@media (max-width: 1600px) {
    .move-container {
        max-width: 150px;
    }
}

@media (max-width: 600px) {
    .move-container {
        max-width: 50px;
    }
    .move-container a{
        font-size: 12px;
    }
}

aside a{
    text-decoration: none;
    padding: 3px 8px;
    margin-bottom: 7px;
    color: #E4E4E4;
    transition: .5s;
    border-radius: 5px;
    font-size: 16px;
}

aside a:hover{
    background-color: #212124;
    transition: .5s;
}

/* Main */

main {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 100px;
}

@media (max-width: 450px) {
    main {
        margin: 0 10px;
        padding: 0 10px;
    }
}

.warning {
    background-color: #212124;
    border: solid 1px #333338;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.warning span {
    margin: auto;
    font-size: 26px;
    color: yellow;
}

.category-container:not(:last-child) {
    margin-bottom: 80px;
}

.category-container h2 {
    font-size: 32px;
    margin-bottom: 26px;
}

.cards-container {
    display: flex;
    gap: 50px;

    flex-wrap: wrap;
    box-sizing: content-box;
}

.card {
    background-color: #212124;
    flex-grow: 1;
    border-radius: 15px;
    padding: 34px 35px;
    display: flex;
    flex-direction: column;
    border: solid 1px #212124;
    transition: .5s;
    margin-bottom: 20px;
    
}

.card:hover {
    border: solid 1px #333338;
    transition: .5s;
}

.card-img {
    /* width: 230px; */
    width: 100%;
    height: 230px;
    margin-bottom: 18px;
    display: flex;
}

.card-img img {
    margin: auto;
    max-width: 230px;
    max-height: 230px;
    object-fit: contain;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 18px;
    display: flex;
    max-width: 230px;
}

.card p {
    font-size: 20px;
    margin-bottom: 18px;
    display: flex;
}

.card button {
    background-color: #73C398;
    cursor: pointer;
    width: 100%;
    padding: 12px 49px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    transition: .5s;
    color: #333333;
    margin-top: auto;
}

@media (max-width:500px) {
    .card button {
        padding: 6px 25px;
    }
}

.card button img {
    margin-right: 11px;
}

.card button:hover{
    background-color: #8CEDB9;
    transition: .5s;
}

.burger_menu {
    display: none;
}

@media (max-width: 1016px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
    .card h3, .card p{
        margin: 0 auto 18px auto;
    }
    .card-img {
        margin: 0 auto;
        max-width: 188px;
    }
    .card-img img {
        max-width: 188px;
    }
    .void-1, .void-2, .void-3, aside {
        display: none;
    }

    
}

@media (max-width: 1235px) {

    .navbar, .login {
        display: none;
    }

    header button {
        display: flex;
        flex-direction: column;
        width: 35px;
        margin-right: 50px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .burger_menu{
        position: fixed;
        flex-direction: column;
        width: 100%;
        min-height: 100svh;
        background-color: #212124;
        justify-content: center;
        align-items: center;
    }

    .burger_menu a {
        font-size: 48px;
        text-decoration: none;
        margin-bottom: 20px;
    }
}

header button:hover{
    #h1 {
        width: 50%; 
        transition: .5s;
    }
    
    #h2 {
        width: 80%; 
        transition: .5s;
    }
}



#h1 {
    width: 100%; /*50*/
    height: 3px;
    background-color: #73C398;
    margin-bottom: 2px;
    margin-left: auto;
    transition: .5s;
}

#h2 {
    width: 100%; /*80*/
    height: 3px;
    background-color: #73C398;
    margin-bottom: 2px;
    margin-left: auto;
    transition: .5s;
}

#h3 {
    width: 100%;
    height: 3px;
    background-color: #73C398;
}



/* footer */

footer {
    background-color: #212124;
    border-top: 1px solid #262626;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    font-family: 'Nunito', sans-serif;

}

.links {
    display: flex;
    margin-bottom: 5px;
}

.eagle {
    display: flex;
    height: 30px;
}

.img-logo {
    margin-right: 8px;
}

.img-logo img{
    height: 30px;
}

.name {
    height: 30px;
}

.name p{
    font-size: 16px;
    margin: 0;
    height: 15px;
}

.name p:not(:last-child) {
    margin-bottom: 2px;
}

.media {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    height: 30px;
}

.o {
    height: 43px;
}

.f {
    width: 36px;
}

.media a:not(:first-child) {
    margin-left: 28px;
}

.contacts-media {
    margin-bottom: 17px;
}

.contacts-media a{
    color: #E4E4E4;
    text-decoration: none;
    font-size: 16px;
    transition: .5s;
}

.contacts-media a:hover{
    color: #ffffff;
    transition: .5s;
}

.contacts-media a:not(:last-child){
    margin-right: 12px;
}

.spoiler p{
    color: #ABABAE;
    font-size: 16px;
    line-height: 0px;
    height: 16px;
}


@media (max-width: 950px) {
    footer {
        display: none;
    }
}